


<h1>Comments for " {{obj.title}} "</h1>

<form action="/articles/{{obj.id}}" method="POST">
    Nickname:
    <input type="text" name="commenter" required>
    <br> 
    Comment:
    <input text="textarea" name="comment" required>
    <br>
    <input type="submit" value="Submit comment">
</form>



<li>{{obj.comment}}</li>